<!-- 푸터 -->
    <footer class="custom-footer">
        <div class="container">
            <div class="fw-bold fs-5 mb-4">사단법인 국제청소년문화재단</div>
            <hr style="border-color: #ccc; margin-bottom: 2rem;">
            <div class="row">
                <div class="col-md-2 col-6 mb-4"><ul class="footer-menu"><li><a href="#" class="text-decoration-none text-muted">MAIN</a></li><li><a href="#" class="text-decoration-none text-muted">교육</a></li><li><a href="#" class="text-decoration-none text-muted">행사</a></li></ul></div>
                <div class="col-md-6 mb-4" style="font-size: 0.9rem; color: #444;"><p class="mb-1 fw-bold text-dark">부산광역시 남구 수영로 312, 801호(대연동, 21센츄리빌딩)</p><p class="mt-4 mb-0">Tel : 051-442-0001 / Fax : 051-466-5533</p></div>
                <div class="col-md-4 mb-4"><p class="text-muted mb-2" style="font-size: 0.85rem;">Sign up. Stay stylish</p><div class="d-flex"><input type="email" class="email-signup-input" placeholder="kmatv0013@hanmail.net"></div></div>
            </div>
        </div>
    </footer>
