        <!-- 헤더 (로고 및 네비게이션) 영역 -->
        <div class="row align-items-end mb-4">
            <!-- 로고 영역 (이미지로 변경됨) -->
            <div class="col-xl-5 col-lg-12 d-flex align-items-center mb-3 mb-xl-0">
                <a href="/">
                    <img src="/static/images/logotitle.png" alt="국제청소년문화재단 로고" class="img-fluid" style="max-height: 80px;">
                </a>
            </div>

            <!-- 네비게이션 영역 -->
            <div class="col-xl-7 col-lg-12 d-flex justify-content-xl-end justify-content-start">
                <ul class="custom-nav">
                    <li class="nav-main-item">
                        <a href="/">MAIN</a>
                        <!-- MAIN 하위 드롭다운 메뉴 -->
                        <ul class="custom-dropdown">
                            <li><a href="/introduction">소개</a></li>
                            <li><a href="/history">연혁</a></li>
                            <li><a href="/artofasso">정관</a></li>
                            <li><a href="/notices">알림</a></li>
                            <li><a href="#">알림게시판</a></li>
                            <li><a href="/shingo">공익제보</a></li>
                        </ul>
                    </li>
                    <li><a href="/edu_main">교육</a>
                        <ul class="custom-dropdown">
                            <li><a href="/edu_chy">충효예교육사 과정</a></li>
                            <li><a href="/edu_globl">청소년 글로벌 리더쉽 포럼</a></li>
                            <li><a href="/safe_school">학교 안전 지도사 과정</a></li>
                            <li><a href="/equalis">양성 평등 인식 개선 교육</a></li>
                        </ul>
                    </li>
                    <li><a href="/eventmain">행사</a>
                        <ul class="custom-dropdown">
                            <li><a href="/k_wellf">대한민국 복지문화대상</a></li>
                            <li><a href="/galmer">갈매랑 축제</a></li>
                            <li><a href="/2025_jagalchi">2025 자갈치효가요제 </a></li>
                            <li><a href="/2025_yeongdo">2025 영도다리가요제</a></li>
                            <li><a href="/chy_writer">충효예 세계 글짓기 대회</a></li>
                            <li><a href="/safe_goldenbell">찾아가는 안전 체험 및 안전 골든벨</a></li>
                            <li><a href="/scholarship_delivery">청소년 장학금 전달식</a></li>
                            <li><a href="/youth_volunteer">청소년 봉사 대상</a></li>
                        </ul>
                    </li>
                    <li><a href="/young_reporter">청소년 기자단</a>
                        <ul class="custom-dropdown">
                            <li><a href="/reporter_notice">공지사항</a></li>
                        </ul>
                    </li>
                    <li><a href="/childrensafe">어린이안전학교</a>
                        <ul class="custom-dropdown">
                            <li><a href="/childrensafe2">활동현황</a></li>
                        </ul>
                    </li>
                    <li><a href="/env_education">환경교육사업</a></li>
                    <li><a href="/elder_video">어르신 동영상 사회공헌</a></li>
                </ul>
            </div>
        </div>